
server {
    listen {{ nginx_port_no_tls }};
    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{ ansible_host }};
    location / {
            try_files $uri $uri/ =404;
    }
}

server {
    listen {{ nginx_port_tls }} default_server ssl;
    ssl on;
    ssl_certificate {{ nginx_crt_dir }}/{{ nginx_crt_name }};
    ssl_certificate_key {{ nginx_pem_dir }}/{{ nginx_pem_name }}; 
    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{ ansible_host }};
    location / {
            try_files $uri $uri/ =404;
    }
}